* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
:root {
  --cor-principal: #00ffff;
  --cor-secundaria: #010b13;
  --brancos: #dedede;
  --cinza: #8c8c8c;
  --nav-bar-shadow: #00ffff0d;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.light-theme {
  --cor-principal: #19191f;
  --cor-secundaria: #eee;
  --brancos: #111111;
  --nav-color: #010b13;
  --cinza: #19191f;
  --nav-bar-shadow: #4f4f4f0d;
}
.light-theme .iconmodes {
  width: 6.11rem;
}
.light-theme #myBtn {
  display: none;
  background-color: var(--cor-secundaria);
  box-shadow: 2px 3px 3px 2px var(--nav-bar-shadow);
}

/**********************/
/**  topo da página **/
/*********************/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
.logo {
  fill: var(--cor-principal);
  width: 10rem;
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
  transform: scale(0.8);
}
.logo:hover {
  transform: scale(1);
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
}
.nav-bar {
  background-color: var(--cor-secundaria);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem;
  box-shadow: 2px 2px 2px 1px var(--nav-bar-shadow);
}
.logo-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}
.nav-link-buttons {
  display: flex;
  align-items: center;
  color: var(--nav-color);
  font-size: 2rem;
  list-style: none;
  gap: 3rem;
  cursor: pointer;
}
a {
  position: relative;
  color: var(--brancos);
  text-decoration: none;
}

a:hover {
  color: var(--cor-principal);
}
a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--cor-principal);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
a:hover::before {
  transform: scaleX(1);
}
/***************************/
/*****    Hero       *****/
/*************************/
.hero {
  height: 80vh;
  display: grid;
  align-items: start;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  /*
  border-radius: 10rem 0 0 0;
  */
  background-color: var(--cor-secundaria); 
}
.hero-img {
  padding: 7rem;
  width: 100%;
  margin-top: 2rem;
}
.assinatura {
  fill: var(--cor-principal);
  padding-left: 2rem !important;
  margin-top: 10rem;
}
.hero-titles {
  padding: 5rem;
  width: 100%;
}
.title_1 {
  margin-top: 3rem;
  text-align: left;
  color: var(--cor-principal);
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 1rem;
  margin-left: 3rem;
}
/*notas biográticas (onde nasceu, onde vive idade etc)
interesses (coisas que gostem de fazer )
locais  (regiões ou ilhas que vistou ou gostaria de visitar )
links para web site da uta
redes sociais handlers
*/
.intere {
  padding-top: 7rem;
  background-color: var(--cor-secundaria);
}
.title-intere:hover {
  color: var(--cor-principal);
  transform: scale(1);
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
}
.title-intere {
  font-size: 3rem;
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
  transform: scale(0.8);
  text-align: center;
  color: var(--cinza);
}
.intereses {
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: var(--cor-secundaria);
  grid-template-columns: 1fr 1fr 1fr;
}
.d {
  fill: var(--cor-principal);
}
.e {
  fill: var(--cor-principal);
}
.e {
  stroke: var(--cor-secundaria);
  stroke-miterlimit: 10;
  stroke-width: 5px;
}
.card1 {
  width: 100%;
  height: 100%;
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
  transform: scale(0.8);
}
.card2 {
  width: 100%;
  height: 100%;
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
  transform: scale(0.8);
}
.card3 {
  width: 100%;
  height: 100%;
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
  transform: scale(0.8);
}
.card1,
.card2,
.card3 {
  padding:  15rem;
  padding-top: 10rem !important;
}
.card1:hover,
.card2:hover,
.card3:hover {
  transform: scale(1);
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
}
.sub-title-intere {
  color: var(--cinza);
  margin-top: 2rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

/***************************/
/****   Bibliografia    **/
/***********************/

.bibliografia {
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: var(--cor-secundaria);
  align-items: center;
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.galeria {
  width: 100%;
  display: grid;
  align-items: center;
  margin-top: 5rem;
  padding: 4rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.bibli-title {
  margin-right: 5rem;
  text-align: left;
  font-size: 3rem;
  color: var(--cor-principal);
}
.galeria img {
  transition: 0.3s cubic-bezier(0.6, 0.03, 0.28, 0.98);
  transform: scale(1);
  width: 100%;
}
.descricao {
  padding: 5rem;
  color: var(--cinza);
  font-size: 2.2rem;
  text-align: justify;
  line-height: 4rem;
}
.galeria img:hover {
  transform: scale(1.5);
  transition: 0.6s cubic-bezier(0.6, 0.03, 0.28, 0.98);
}
.locais {
  background-color: var(--cor-secundaria);
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.location {
  padding: 8rem;
}
.textoroms {
  color: var(--brancos);
  padding: 4rem;
  text-align: justify;
  line-height: 1.5;
}

/********* ****/
/*** Mode Icons **/
/*************/
.iconmodes {
  width: 7rem;
}

/*******************/
/** TO TOP BUTTON */
/*****************/
.letra-r {
  font-size: 155.54px;
  font-weight: 800;
}
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 40px;
  width: 40px;
  display: none;
  place-items: center;
  border-radius: 5px;
  cursor: pointer;
  border-width: 0;
}
#progress-value {
  display: block;
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  background-color: var(--cor-secundaria);
  display: grid;
  border-radius: 5px;
  place-items: center;
  font-size: 35px;
  fill: var(--cor-principal);
}
.carregando {
  height: 20rem;
  width: 100%;
  background-color: var(--cor-secundaria);
}
.carregando-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  text-align: center;
  color: var(--cor-principal);
}
.icon-pro {
  width: 10rem;
}

/*************************/
/**  SCROLL BAR STYLE  **/
/***********************/
/* width */
::-webkit-scrollbar {
  width: 1.5rem;

}

/* Track */
::-webkit-scrollbar-track {
  background: var(--cor-secundaria); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--cor-principal); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:var(--cinza); 
}
